@import 'general';

/* Header styles -------------------------*/

.main-header {
    position: fixed;
    top:0;
    left:0;
    z-index:101;
    background-color: white;
    color: $link-color;
    border-bottom: 1px solid rgba($color: #45413e, $alpha: 0.1);
  }
  
  /*Main navigation styles -----------------*/

  span.nav-opener {
    font-size: 10px;
    opacity: .5;
    padding-left: 15px;
  }
  
  .opener.hamburger {
    position: absolute;
    left: 0px;
    .nonactive {
      display: inline;
    }
    .active {
      display: none;
    }
    &.active {
      .nonactive {
        display: none;
      }
      .active {
        display: inline;
      }
    }
  }
  
  .main-header .main-nav {
    position: absolute;
    display: none;
    top: 70px;
    left: 0px;
    width: 100%;
    background-color: $additional-color;
    &__opener {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      font-size: .6rem;
      width: 50%;
    }
    &.active {
      display: flex;
      li.level1.expandable ul.level2{
        display: none;
      }
      li.level1.expandable.active ul.level2{
        display: block;
      }
      li.level2 ul.level3{
        display: none;
      }
      li.level2.active ul.level3{
        display: block;
      }
    }
    .main-nav__dropdown {
      width: 100%;
    }
    a {
      color: #fff;
    }
    ul.level3 {
      max-height: 300px;
      overflow-y: scroll;
    }
    li.level1 > a {
      text-transform: uppercase;
      font-size: 0.875em; /* 14px */
      font-weight: 700;
    }
    li.level2 {
      padding-left: 0.5em;
    }
    li.level3 {
      padding-left: 1em;
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
    }
    li.level2 > a,
    li.level3 > a
     {
      text-transform: capitalize;
      font-size: 1em; /* 16px */
      font-weight: 400;
      opacity: .9;
    }
    li.level1.menu-image {
      img {
        width: 100%;
      }
    }
  }
  
  .main-header,
  .sticky-mobile-footer {
    .utilites {
     &__icon {
        position: relative;
       .count {
         position: absolute;
         display: none;
         right: 10%;
         top: 10%;
         color: $main-color;
         background-color: #fff;
         border: 2px solid;
         border-radius: 100%;
         padding: 1px 5px;
         font-size: 10px;
         font-weight: 900;
       }
      }
    }
  }