@import 'general';
@import 'header';
@import 'footer';

/*Homepage slider and sales section --------------*/
  .carousel-inner{
    background: black !important;
    border-radius: 5px;
    font-family: $secondary-font-family;
    .carousel-item {
      h5 {    
        font-size: 1.75em; /*28px*/
        font-weight: 700;
      }
      p {
        font-size: 0.875em; /*14px*/;
        opacity: .9;
      }
      button {
        @include button {
          color: white;
        }
        a {
          color: inherit;
        }
        max-width: 170px;
        opacity: .7;
      }
    }
  }
  
  .carousel-indicators {
    margin-left: 30%;
    margin-right: 30%;
    li{
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background-color: white;
      &.active {
        background-color: transparent;
        border: 2px solid white;
      }
    }
  }
  
  
  /*Popular Items section -----------------------------*/
  
  .popular-items {
    &__title h2{
    font-size: 1.125em; /*18px*/
    font-weight: 800;
    white-space: nowrap;
    margin-bottom: 0px;
  }
  .product-tile {
    .owl-carousel {
      .owl-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        .owl-dot span {
          opacity: .7;
          border: 2px solid transparent;
          width: 9px !important;
          height: 9px !important;
        }
        .owl-dot.active span {
          width: 15px !important;
          height: 15px !important;
          border: 2px solid white;
          background-color: transparent;
        }
      }
    }
  }
}

  
  .load-more-button {
    @include button {
      color: white;
    }
  }

  /*Banner Items section -----------------------------*/
  
  .banner {
    background: url('../img/banner.png') no-repeat center;
    background-size: cover;
    height: 185px;
    &__title {
      font-size: 1.875em; /* 30px */
      font-weight: 900;
    }
    &__decription {
      font-family: $secondary-font-family;
      font-size: 0.875em; /*14px*/
      width: 90%;
    }
  }
  
    /*Featured Products section -----------------------------*/
  
  
    .featured-products {
      &__title {
        font-size: 2.25em; /*36px*/
        font-weight: 700;
      }
      &__description {
        font-size: 1.125em; /* 18px */
      }
    }
  
  /*Services section -----------------------------*/
  
  .services {
    background-color: $link-color;
    &__text h5 {
      text-transform: uppercase;
      font-size: 1.125em; /* 18px */
    }
    &__text p {
      font-family: $secondary-font-family;
      font-size: 0.875em; /*14px*/
      color: #868380 !important;
    }
  }

  .utilities {
    .icon {
      .count {
        border: 1px solid red;
      }
    }
}
  

@import 'responsive';