/* Google Fonts import ---------*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Variables --------------*/

$primary-font-family: 'Lato', Arial, 'sans serif';
$secondary-font-family: "PT sans", Arial, 'sans serif';

$big-devices-width: 1280px;

$custom-font-size: 16px;

$main-color: #84bc22;
$secondary-color: #011847;
$additional-color: #262a32;
$link-color: #45413e;
$services-bg-color:#f2edea;
$productpage-bg-color: #f1edea;

/*Mixins --------------*/

@mixin button {
  font-size: 0.875rem; /*14px*/
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid;
  border-radius: 25px;
  padding: 8px 39px;
  width: 100%;
  max-width: 170px;
  @content;
} /* pass in color of the button*/



/* General Layout Styles --------*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-font-family;
  font-size: $custom-font-size;
  margin: 0 auto;
  color: $link-color;
}

p {
  font-family: $primary-font-family;
  margin-bottom: 0px;
}

a:link {
  text-decoration: none;
  color: $link-color;
}

li {
  list-style-type: none;
}

.bg-darkgrey {
  background-color: $additional-color;
}

.text-lightgreen {
  color: $main-color !important;
}


/* Breadcrumb styles --------------*/

.breadcrumb {
  background-color: inherit !important;
  font-size: 0.8125rem;
  font-weight: 600;
  .clickable:hover {
      opacity: 0.5;
  }
}

/* Page title  --------------*/
.services-page,
.product-page {           
  .page-title h1 p{
    font-size: 1.9375rem; /* 31px*/
    font-weight: 900 !important;
    text-transform: capitalize;
    white-space: nowrap;
  }
  .page-title{
    .line-white {
      background: url('../img/white-line.png') repeat-x center;
    }
    .line-brown {
      background: url('../img/line-brown.png') repeat-x center;
    }
  }  

}
