@import 'general';
@import 'header';
@import 'footer';
@import 'responsive';
@import 'homepage';


/*General styles --------------*/

.bg-product-page {
  background-color: $productpage-bg-color;
}

/* Product Section Styles ------------*/

.product-wrap {
  width: 100%;
  .img-thumbnails,
  .img-thumbnails-desktop {
    .item {
      .thumbnail {
        cursor: pointer;
        opacity: .5;
        border: 1px solid black;
      }
      .thumbnail.active {
        opacity: 1;
        border: 1px solid $main-color;
      }
    }
  }
  .product-img-wrap { 
    .product-img {
      position: relative;
      img{
      width: 100%;
      height: auto;
      }
    }
    .zoom-in {
      cursor: pointer;
      color: $main-color;
      position: absolute;
      top: 5%;
      left: 5%;
      font-size: 1.5rem;
    }
  }

  &__left {
    .product-preview {
      .item {
        cursor: zoom-in;
        max-width: 100px;
        height: auto;
        margin: 0px auto;
      }
    }
    .product-detail-wrap {
      h3.product-price {
        font-size: 1.9675rem; /*31px*/
        font-weight: 900;
      }
    }
    .chose-color {
      position: relative;
      select {
        outline: none;
        font-size: 0.875rem; /*14px*/
        border: 2px solid #e8e2d6;
        border-radius: 25px;
      }
      .color {
        position: absolute;
        top: 25%;
        left: 10px;
        background-color: darkslategray;
        width: 20px;
        height: 20px;
        border-radius: 100%;
      } 
    }
    .quantity-and-addtocart-wrap {
      position: relative;
      .quantity-invalid-feedback {
        position: absolute;
        display: none;
        color: red;
        font-size: 10px;
        width: 100%;
        bottom: -25%;
        left: 0px;
        width: 200px;
      }
    }
    .chose-quantity-wrap {
      padding: 0px;
      .chose-quantity {
        font-size: 0.875rem; /*14px*/
        border: 2px solid #e8e2d6;
        border-radius: 25px;
        max-width: 100px;
        .quantity {
          outline: none;
          width: 75%;
          border: none;
        }
      }
    }
    .product-description {
      &__text {
        font-size: 1rem; /*16px*/
      }
      &__read-more button{
        background-color: transparent;
        border: none;
        color: $main-color;
      }
    }
    .add-to-cart-wrap {
      padding: 0px;
    }
    .share-CTA {
      &__title {
        font-size: 0.875rem; /*14px*/
        opacity: 0.5;
      }
      &__icons {
        a img {
          opacity: .5;
        }
      }
    }
  }
  .product-tabs-wrap {
    .tabs {
      &__item {
        cursor: pointer;
        color: rgba(0, 0, 0, .3);
        font-size: 1.2rem;
        border-radius: 25px 25px 0 0;
        padding: 10px 35px;
        font-weight: 700;
        &.active {
          cursor: default;
          background-color: $additional-color;
          color: #fff;
        }
      }
    }
    .collapsible {
      background-color: $additional-color;
      color: #fff;
      &__item {
        column-count: 2;
        column-gap: 50px;
        padding: 60px;
        line-height: 1.7;
        display: none;
        &.show {
          display: block;
        }
        &:last-child {
          column-count: 1;
        }
        .reviews-wrap {
          .review {
            width: 30%;
            &__username {
              font-size: 1.2rem;
              font-weight: 800;
              text-transform: capitalize;
            }
            &__body {
              font-size: 1rem;
              font-style: italic;
            }
          }
        }
      }
    }
  }
}

.owl-carousel {
  .owl-dots {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .owl-dot span{
      background-color: #262a32;
      opacity: .7;
    }
    .owl-dot.active span{
      border: 3px solid #262a32 !important;
      width: 15px;
      height: 15px;
      background-color: transparent;
    }
  }
}


/*Popular Items Styles ------------*/

.popular-items {
  &__title h2{
      font-size: 1.125rem; /*18px*/
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 0px;
  }
}
