@import 'general';

/*  Media queries  ------------------------*/

/* Styles for screens larger than 768px ---------------------*/

@media only screen and (min-width: 768px) {
  
    .logo {
      &-text {
        height: 65px;
        padding-left: 7px;
        line-height: 1;
        &__big {
            color: $secondary-color;
            font-size: 2em; /* 32px */
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 0.2em; /* 6.33px */        
        }
        &__small {
          color: $main-color;
          font-size: 1.125em; /* 18px */
        }
      }
    }
  
      /*Carousel styles------------------------------------------*/
  
      .carousel-inner{
        img {
          max-width: 120%;
        }
        .carousel-item {
          h5 {    
            font-size: 1.2em; /*48px*/
            font-weight: 700;
          }
          p {
            font-size: 0.875em; /*14px*/;
           
          }
        }
      }
      
      .carousel-indicators {
        margin-left: 42% !important;
        margin-right: 42% !important;
        &__item {
          width: 7px !important;
          height: 7px !important;
        }
      }
      /*Sale section, next to the carousel ----------------------*/
  
    .sale {
      .sale-img {
        background: url('../img/sale-banner-homepage.png') no-repeat center;
        background-size: cover;
        height: 60%;
        border-radius: 5px;
      }
      &-percentages {
        font-size: 3em;
        font-weight: bold;
      }
      &-name {
        font-size: 0.8em;
        text-transform: uppercase;
        color: $link-color;
      }
    } 
  
    .FB-CTA {
      line-height: 1;;
      h5 {
        font-size: 1em; /* 18px */
      }
      p {
        font-family: $secondary-font-family;
        font-size: 0.7em;
      }
      .Follow-us-FB{
        @include button {
          color: #3a5b96;
        }
        a {
          color: inherit;
        }
      }
    }
  
      /*Popular Items section -----------------------------*/
  
      .line {
        background: url('../img/-.png') no-repeat center;
      }
    
      .popular-items__title {
        font-size: 1.5em; /*24px*/
      }
  
      /*Banner Items section -----------------------------*/
  
    .banner {
      height: 350px;
      &__title {
        font-size: 3em; /* 48px */
      }
      &__decription {
        width: 40%;
      }
    }
    
     /*Main Footer section -----------------------------*/
  
     .main-footer {
      .opener:after {
        content: none;
      }
      .opener + .dropdown {
        display: flex;
      }
    }

  /*Product Page ---------------------*/

  .product-page {
      .product-wrap {
        &__left {
          .img-thumbnails-desktop {
            .item {
                margin: 5px;
              }
          }
        }
      }
    }

    /*Not Found Page Styles---------------*/
    .not-found-page {
      .not-found {
        &__title h1{
          font-size: 8.1875rem; /*131px*/
        }
      }
    }

    /*Cookies Policy Modal Styles -------*/

    .cookies-policy-modal {
      .modal-dialog {
       width: 80%;
      }
      &__title {
        &__close-modal {
          right: 1%;
          top: 5%;
        }
      }
    }
  }

  /* Styles for screens larger than 992px ---------------------*/
  @media only screen and (min-width: 992px) {
    .main-header {
      nav {
        width: 63%;
      }
      .language-and-currency{
        width: 8%;
      }
    }
    .main-header .main-nav {
      display: flex;
      position: static;
      &__dropdown {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background-color: white;
        margin-bottom: 0px;
        ul.level2.desktop-dropdown {
          display: flex;
          flex-direction: row;
          position: absolute;
          right: auto;
          left: 0px;
          padding: 40px;
          background-color: $additional-color;
          visibility: hidden;
          width: 100%;
          max-width: $big-devices-width;
          li:first-child {
            width: 55%;
            ul.level3 {
              columns: 3;
            }
          }
          li:nth-child(2) {
            width: 18%;
          }
          li:nth-child(3) {
            .menu-image {
              height: 100%;
              img {
                height: 100%;
                width: auto;
              }
            }
          }
        }
        li.level1 {
          & > a {
            display: inline-block;
            color: $link-color;
            font-size: 0.875em; /*14px*/
            text-transform: uppercase;
            font-weight: 700;
            padding: 15px 15px 25px;
            border-bottom: 2px solid transparent;
            margin-top: 5px;
          }
          &:hover,
          &.active {
            & > a {
              background-color: $additional-color;
              color: #ffffff;
              border-bottom: 2px solid $main-color;
            }
          }
          &:hover .desktop-dropdown{
            visibility: visible;
          }
        }
        li.level1:first-child {
          p {
            margin-left: 15px;
          }
        }
        ul.level3 {
          max-height: none;
          overflow: hidden;
        }
        li.level3 > a{
          color: white;
          font-size: 1em; /* 16px */
          font-weight: 400;
          opacity: 0.9;
          text-transform: capitalize;
          line-height: 2em; /* 32px */
        }
        li.level2 > a{
          font-size: 0.875rem !important; /*14px*/;
          font-weight: 900;
          text-transform: uppercase;
          color: white;
          margin-bottom: 1.5rem;
        }
        li.level3 {
          padding-left: 0px;
        }
      }
    }

    .language-and-currency{
      text-transform: uppercase;
      font-size: 0.875em; /*14px*/;
      select{
        cursor: pointer;
        border: none;
        opacity: 0.7;
        outline: none;
      }
      select:hover{
        opacity: 0.3;
      }
    }
  
    .utilites{
      &__icon {
        padding: 12px;
        button {
          border: none;
          outline: none;
          background-color: transparent;
        }
        img:hover{
          cursor: pointer;
          opacity: 0.7;
        }
      }
    }
  }
  
  /* Styles for screens larger than 1200px ---------------------*/
  
  @media only screen and (min-width: 1280px) {  

    .main-header {
      max-width: $big-devices-width;
      left: calc((100% - (1280px))/2);
    }
   
    /*Home Page ---------------------------*/
  
        /*Carousel styles------------------------------------------*/
  
        .carousel-inner{
          img {
            max-width: 100%;
          }
          .carousel-item {
            h5 {    
              font-size: 3rem !important; /*48px*/
              font-weight: 700;
            }
            p {
              font-size: 0.875rem; /*14px*/;
              width: 50% !important;
            }
          }
        }
  
  
    /*Sale section, next to the carousel ----------------------*/
  
    .sale {
  
      &-percentages {
        font-size: 6.25em; /*100px*/
      }
      &-name {
        font-size: 1.5em; /*25px*/
      }
    } 
  
    .FB-CTA {
      h5 {
        font-size: 1.125em; /* 18px */
      }
      p {
        font-size: 0.8125em; /*13px*/
      }
    }

      /*Banner Items section -----------------------------*/
  
    .banner {
        height: 450px !important;
    }

    .main-footer {
      margin-bottom: 0px;
    }


    /*Services Page ----------------------*/

    /* Page title  --------------*/
    .services-page .page-title h1{
      font-size: 3rem; /* 48px*/
      font-weight: 900 !important;
    }
  

    /*Product Page Styles -----------------*/

    .product-page{
      .product-tabs-wrap {
        .tabs {
          &__item {
            font-size: 1.5rem !important; /*24px*/
          }
        }
      }
    }
 
  }