@import 'main';
@import 'responsive';
@import 'header';
@import 'footer';

/*General styles --------------*/

.bg-services {
    background-color: $background-color;
}


/* Breadcrumb styles --------------*/

.breadcrumb {
    background-color: inherit !important;
    font-size: 0.8125rem;
}

/* Page title  --------------*/
.page-title h1{
    font-size: 1.9375em; /* 31px*/
    font-weight: 900 !important;
}

.line-white {
    background: url('../img/white-line.png') repeat-x center;
}

/* Filters area  --------------*/

button.hide-filters {
    border: none;
    background: transparent;
    color: $main-color;
    text-transform: capitalize;
}
